@import "variable";

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  padding-left: 2rem;
  gap: 3rem;
  &__title {
    font-size: clamp(4rem,5vw,5rem);
    background-image: linear-gradient(to right,$primary,$lightWhite);
    -webkit-background-clip: text;
    color: transparent;
  }
  &__content {
    font-size: clamp(1.3rem,2vw,1.5rem);
  }
  &__lists {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    &--content{
      font-size: clamp(1.3rem,2vw,1.5rem);
      align-self: center;
    }
  }
&__form{
  &--label{
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
  }
  &--input{
    width: 100%;
    padding: 1rem;
    border: 1px solid $lightWhite;
    outline: 0;
    border-radius: .5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  &--input:focus{
    border: 1px solid $primary;
  }
  &--btn{
    padding: 1.3rem 0;
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1.9rem 38rem, rgba(0, 0, 0, 0.22) 0 1.5rem 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s linear;
    background-image: linear-gradient(to right,$primary,$lightWhite);
    color: $lightBlack;
    font-weight: 600;
  }
  &--btn:hover{
    transform: translateY(-3px);
  }
  &--btn:active{
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1rem 2rem, rgba(0, 0, 0, 0.22) 0 1rem .6rem;
  }
}
}
.right-box{
 &__svg{
  width: 100%;
 }
}

.success{
  background-color: $White;
  color: $DarkSlateGrey;
  width: min(90vw,45rem);
  padding: 2rem 4rem;
  box-shadow: 0 1rem 1rem $primary;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__svg{
    width: 12%;
  }

  &__title{
    font-size: 4.5rem;
  }
  &__content{
    font-size: 1.6rem;
    line-height: 1.3;
  }
  &--btn{
    padding-block: 1.2rem;
    background-image: linear-gradient(to right,$primary,$lightWhite);
    color: $lightBlack;
    cursor: pointer;
    border-radius: 1rem;
    outline: 0;
    border: 1px solid $lightWhite;
    font-weight: 600;
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1.9rem 38rem, rgba(0, 0, 0, 0.22) 0 1.
  }
  &--btn:hover{
    transform: translateY(-2px);
  }
}